.formBottom {
	padding-bottom: 0.5em;
}

.displayBlock {
	display: block;
	margin-bottom: 1em;
}

.expectation {
	font-size: 0.9em;
	font-style: italic;
}

.expectationLink {
	color: blue;
}

.expectationLink:hover {
	text-decoration: underline;
}
