.formBottom {
	padding-bottom: 0.1em;
}

.displayBlock {
	display: block;
	margin-bottom: 1em;
}

.benefits {
	font-size: 0.8em;
	font-style: italic;
	color: #3acb80;
}

.expectation {
	font-size: 0.9em;
	font-style: italic;
}

.expectationLink {
	color: #03a9f4;
}

.expectationLink:hover {
	text-decoration: underline;
}
